sudo: false
language: node_js
notifications:
  email: false
node_js:
  - "10"
before_install:
  - npm i -g npm@^6.0.0
before_script:
  - npm prune
script:
  - npm run test
deploy:
  - on:
      branch: master
    provider: npm
    skip_cleanup: true
    email: "mikebolt@gmail.com"
    api_key: $NPM_TOKEN
  - on:
      branch: master
    provider: pages
    skip_cleanup: true
    github_token: $GH_TOKEN
    keep_history: true
